<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
           text-align: center; 
        }
        .container {
            height: 200px;
            width: 500px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -230px;
        }
        body {
          background-color: rgb(233, 156, 104);
        }
        
        .bn30 {  
            background-color: #f1f1f1;
            color: black;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            margin-right: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }  
        
        .bn30:hover {
          background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
        }
        
        .button_container{
            padding-left: 23%;
        }
        </style>

</head>
<body>
    <div class="container">
        <h1>Maintain your To-Do List</h1>
        <div class="button_container">
        <a href="/register"><button class="bn30" ><h2>Register</h2></button></a>
        <a href="/login"><button class="bn30"><h2>Login</h2></button></a>
        </div>
    </div>
</body>
</html>